<!--The content below is only a placeholder and can be replaced.-->

<ul>
  <li *ngFor="let user of data">{{user.name}}</li>
</ul>

<form [formGroup]="userForm" (ngSubmit)="formSubmit()">
  
  <label>Username</label>
  <input type="text" formControlName="name">
  
  <div>&nbsp;</div>

  <label>Age</label>
  <input type="text" formControlName="age">
  
  <div>&nbsp;</div>

  <label>E-mail</label>
  <input type="text" formControlName="email">
  
  <div>&nbsp;</div>

  <input type="submit" value="Submit">
</form>